<div id="welcome-banner">
    <big>Jack Sparrow</big>
    <br />
    <em>Mutiny My Friend</em>
    <br />
    <br />
</div>

<div id="login">
    <div>or <a class="trigger" href="#">Sign Up Now!</a></div>
</div>

<div id="register">
    <div>Already a user? Then just <a class="trigger" href="#">Login</a></div>
</div>


