<div id="create">
  <div class="content">
    <h2>Compose New Post</h2>
    <form>
      <fieldset>
        <textarea name="content" rows="6" cols="27"></textarea>
      </fieldset>
        <div class="info" />
        <a href="#" id="create-submit-trigger" class="trigger" title="Post">
        <a href="#" id="create-cancel-trigger" class="trigger" title="Cancel" />
      </form>
  </div>
</div>
