<div class="branding">
  <a href="/" alt="Go Home">Jack Sparrow</a>
</div>

<div class="controls">
  <a href="#" id="create-trigger" class="trigger" title="Create Post" />
  <img class="profile" width="32" height="32" src="/static/img/anon.png" 
    alt="{{displayName}}" title="{{displayName}}" />
  {{displayName}}
  [<a id="logout-trigger" href="#">Logout</a>]
</div>
