<div class="branding">
  <a href="/" alt="Home">Jack Sparrow</a>
</div>

<div class="controls">
  <a href="#" id="authenticate-trigger" class="trigger" 
    alt="Sign Up Now">Login/Register</a>
</div>
