<div class="branding">
  <a href="/" alt="Go Home">Jack Sparrow</a>
</div>

<div class="controls">
  <a href="#" id="create-trigger" class="trigger" title="Create Post" />
    <img class="profile invisible" width="32" height="32" 
      alt="{{name}}" title="{{name}}" data-id="{{id}}" />
  {{displayName}}
  [<a id="logout-trigger" href="#">Logout</a>]
</div>
