<form>
    <fieldset>
        <label>Display Name:
          <input type="text" name="name" value="{{name}}" />
        </label>
        <br />
        <label>Email:
          <input type="text" name="email" value="{{email}}"/>
        </label>
        <br />
        <label>Username:
          <input type="text" name="username" value="{{username}}" />
        <br />
        <input type="submit" value="Update" />
    </fieldset>
</form>
