{{#feed}}
<div class="post" data-id="{{id}}">
  <div class="content">{{content}}</div>
  <div class="info">
    By <span class="author" /> (
      <span class="timestamp" data-staleness="{{staleness}}" />)
  </div>
</div>
{{/feed}}
