This is what you eat.

{{#feed}}
<div class="post" data-id="{{id}}">
  <div class="content">{{content}}</div>
  <div class="info">
    <span class="author" data-id="{{#user}}{{id}}{{/user}}" /> 
    (<span class="timestamp" data-staleness="{{staleness}}" />)
  </div>
  <div class="detail">
    <a href="{{id}}" />
  </div>
</div>
{{/feed}}
