{{#feed}}
<div class="post" data-id="{{id}}">
  <div class="content">{{content}}</div>
  <div class="info">
    <span class="author" data-id="{{#user}}{{id}}{{/user}}" /> 
    (<span class="timestamp" />)
  </div>
</div>
{{/feed}}
