{{#followers}}
<div class="entity" data-id="{{id}}">
  <img class="profile invisible" width="48" height="48" 
    data-id="{{id}}" alt="{{name}}" title="{{name}}" />
  <span class="user-name">{{name}}</span>
</div>
{{/followers}}
