<div id="dashboard">

  {{#user}}{{username}}{{/user}}
  [
  <span id="logout">
    <a class="trigger" href="#">Logout</a>
  </span>
  ]

</div>

<div id="root-pane">
  foo foo foo foo foo foo foo foo
</div>

<div id="content-pane">
  <div id="content" />
    <div id="detail">
      &nbsp;
    </div>
</div>
