<a href="#" id="close-detail-trigger" class="trigger" title="Hide" />
<div class="postDetail">
  <ul>
    <li>Created on {{created_on}}</li>
  </ul>
  <a href="{{permalink}}" id="zoom-trigger" class="trigger" title="Zoom" />
</div>
