<a href="#" id="close-detail-trigger" class="trigger" title="Hide" />
  <div>
  Created on {{created_on_readable}} by {{#user}}{{name}}{{/user}}
  </div>
  <a href="{{#user}}{{permalink}}{{/user}}">Go to 
    the full profile of {{#user}}{{username}}{{/user}}</a>
  <div class="info">
    (<span class="timestamp" />Online Now?!)
  </div>
  <a href="{{permalink}}" id="zoom-trigger" class="trigger" title="Zoom" />

  {{#user}}
    {{#doesNotFollow}}
      <a href="#" id="follow-trigger" class="trigger" title="Follow" 
        data-id="{{id}}" />
    {{/doesNotFollow}}
    {{#doesFollow}}
      <a href="#" id="unfollow-trigger" class="trigger" title="Unfollow"
        data-id="{{id}}" />
    {{/doesFollow}}
  {{/user}}

</div>
