<form>
    <fieldset>
        <label>Email:
            <input type="text" name="email" />
        </label>
        <br />
        <label>Username:
            <input type="text" name="username" />
        </label>
        <br />
        <label>Password:
            <input type="password" name="password" />
        </label>
        <br />
        <input type="submit" value="Register" />
    </fieldset>
    <div>Already a user? Then just <a class="trigger" href="#">Login</a></div>
</form>
