<a href="#" id="close-detail-trigger" class="trigger" title="Hide" />
<div class="userDetail">
  <a href="{{permalink}}">Go to 
    the full profile of {{username}}</a>
  {{#doesNotFollow}}
    <a href="#" id="follow-trigger" class="trigger" title="Follow" 
      data-id="{{id}}" />
  {{/doesNotFollow}}
  {{#doesFollow}}
    <a href="#" id="unfollow-trigger" class="trigger" title="Unfollow"
      data-id="{{id}}" />
  {{/doesFollow}}
</div>
