<form action="register" method="POST">
    <fieldset>
        <label>Email:
            <input type="text" name="email" />
        </label>
        <br />
        <label>Password:
            <input type="password" name="password" />
        </label>
        <br />
        <input type="submit" value="Register" />
    </fieldset>
</form>
