/*
 * Overall Structure
 *
 */

html {
    overflow-y: scroll; /* always display scrollbar to avoid relayouts */
}

body {
    font-size: 120%;
    margin: 0;
    padding: 0;
    border: 0;
}

textarea,input,select {
    font: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

#dashboard {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em; /* affects create */
    color: white;
    z-index: 1;
    min-height: 32px; /* XXX vert align pic */
    /*border-bottom: 1px solid white;*/
}

#root-pane {
    position: fixed;
    top: 2em;
    left: 0;
    width: 25%;
    min-width: 128px;
    background-color: red;
}

#full-content-pane {
    padding-top: 2em;
    background-color: green;
}

#content-pane {
    padding-top: 2em;
    float: right;
    width: 75%;
    background-color: green;
}

#content {
    float: left;
    width: 55%;
    min-height: 200px;
    word-wrap: break-word;
    background-color: grey;
}

#detail {
    float: right;
    width: 45%;
    word-wrap: break-word;
    background-color: purple;
}


/*
 * Dashboard
 *
 */

#dashboard .branding {
    float: left;
}

#dashboard .controls {
    float: right;
}

/*
 * 
 */

#preloader {
    width: 23ex;
    margin: auto;
    margin-top: 20ex;
    padding: 2ex;
    background-color: grey;
}

.unknownUser {
    width: 70ex;
    margin: auto;
}

.current {
    background-color: yellow;
}

.username {
    font-style: italic;
    font-size: 80%;
}

a > .username {
    font-size: 100%;
}

.info.validated {
    color: #adffbb;
}

.info.unvalidated {
    color: #FAAAAA;
}

/*
 * Triggers
 */

.trigger-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 0px 0px;
}

.trigger-icon:hover {
    background-position: 0px -32px;
}

#create-submit-trigger { background-image: url("/static/img/check.png"); }
#create-cancel-trigger { background-image: url("/static/img/stop.png"); }
#create-trigger { background-image: url("/static/img/notepencil.png"); }
#zoom-trigger { background-image: url("/static/img/slide.png"); }
.follow-trigger { background-image: url("/static/img/exchange.png"); }
.unfollow-trigger { background-image: url("/static/img/block.png"); }

#close-detail-trigger { 
    background-image: url("/static/img/cross.png"); 
    float: right;
}

#show-detail-trigger {
    background-image: url("/static/img/arrow.png");
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: blue;
    cursor: pointer;
}

.trigger.current {
    /* XXX doesn't work in IE? */
    pointer-events: none;
    cursor: default;
}

/*
 * Triggers
 */

#loader-tab-parent {
    position: relative;
}
#loader-tab {
    background:url("/static/img/ajax-loader.gif") no-repeat center center;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
}


/*
 *
 * Dropdowns - Create post, Edit Image and Authenticate
 *
 */

.dropdown {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    left: 0;
    top: 2em;
    width: 100%;
    height: 100%;
}

.dropdown .content {
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
    width: 36ex; 
    height: 100%;
    padding: 3ex;
    padding-top: 0;
    margin: auto;
    color: white;
}

.dropdown .info {
    padding-left: 2ex;
    min-height: 1.5em;
    font-style: italic;
}


#create .content {
    width: 36ex; 
    text-align: right;
}

#create h2 {
    text-align: left;
}

#authenticate .content {
    width: 63ex; 
}
/*
#editUserPix .content {
    position: relative;
    width: 800px;
    float: left;
}

#editUserPix #parentTarget {
    background: white;
    float: left;
}

#editUserPix #parentPreview {
    background: white;
    float: left;
    clear: right;
}

#editUserPix #form-controls {
    background-color: white;
    float: left;
    text-align: right;
}

#editUserPix input[type="submit"] {
    float: right;
}

#editUserPix #close-detail-trigger {
    position: absolute;
    right: 0px;
    top: 0px;
}
*/

/*
 *
 * Misc
 *
 */

.invisible {
    visibility: hidden;
}

/* XXX delete me */

.hidden {
    display: none;
}



/*
 * Forms
 *
 */

form .info {
    font-style: italic;
}

input.unvalidated {
    background-color: #FAAAAA;
}

input.validated {
    background-color: #adffbb;
}

label {
    /* width: 20ex;*/
}

input[type="text"],input[type="password"] {
    width: 20ex;
}

/*
 * Edit Profile
 */

#editProfile label {
    display: block;
}

#editProfile input[type="text"], 
#editProfile input[type="password"] {
    margin-left: 4ex;
    width: 30ex;
}

/*
 * Posts
 *
 */

.entity {
    position: relative;
}

.entity .content {
}

.entity .timestamp {
    float: right;
    background: blue;
    font-style: italic;
    font-size: 80%;
}

.entity.current {
}
