@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

/*
 * Overall Structure
 *
 */

html {
    overflow-y: scroll; /* always display scrollbar to avoid relayouts */
}

body {
    font-family: 'Open Sans Condensed', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 300;
    background-color: rgb(230, 214, 189);
    color: rgb(83, 83, 83);
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: rgb(102, 136, 116);
}

textarea,input,select {
    font: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

#dashboard {
    vertical-align: middle;
    background-color: rgba(83, 83, 83, 1.0);
    color: rgb(230, 214, 189);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em; /* affects create */
    z-index: 1;
    min-height: 32px; /* XXX vert align pic */
}

#dashboard a {
    color: rgb(230, 214, 189);
    text-decoration: none;
}

#dashboard .trigger-icon,
#dashboard img {
    vertical-align: middle;
}

#root-pane {
    position: fixed;
    top: 2em;
    left: 0;
    width: 20%;
    min-width: 128px;
    padding-left: 1ex;
}

#root-pane img {
    padding-bottom: 3ex;
}

#full-content-pane {
    padding-top: 2em;
}

#content-pane {
    padding-top: 2em;
    float: right;
    width: 80%;
}

#content {
    float: left;
    width: 60%;
    min-height: 200px;
    word-wrap: break-word;
}

#detail {
    background-color: rgba(120, 163, 192, 0.3);
    float: right;
    width: 40%;
    word-wrap: break-word;
}

#detail div {
    margin: 2ex;
}

#detail ikons {
    margin-left: 0ex;
}


/*
 * Dashboard
 *
 */

#dashboard .branding {
    float: left;
    font-weight: 400;
    padding-left: 1ex;
}

#dashboard .controls {
    float: right;
    padding-right: 1ex;
}

#dashboard .controls a {
    font-size: 80%;
}

/*
 * 
 */

#preloader {
    width: 23ex;
    margin: auto;
    margin-top: 20ex;
    padding: 2ex;
}

#single-post {
    margin-left: 1ex;
}

#welcome-banner {
    font-size: 150%;
}

#authme {
    margin-left: 1ex;
}

.unknownUser {
    width: 70ex;
    margin: auto;
}

.current {
    background-color: rgba(120, 163, 192, 0.3);
}

.username {
    font-style: italic;
    font-size: 80%;
}

a > .username {
    font-size: 100%;
}

.info.validated {
    font-weight: bold;
    color: #adffbb;
}

.info.unvalidated {
    font-weight: bold;
    color: #FAAAAA;
}

/*
 * Triggers
 */

.trigger-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 0px 0px;
}

.trigger-icon:hover {
    background-position: 0px -32px;
}

#create-submit-trigger { background-image: url("/static/img/check.png"); }
#create-cancel-trigger { background-image: url("/static/img/stop.png"); }
#create-trigger { background-image: url("/static/img/notepencil.png"); }
#zoom-trigger { background-image: url("/static/img/slide.png"); }
.follow-trigger { background-image: url("/static/img/exchange.png"); }
.unfollow-trigger { background-image: url("/static/img/block.png"); }

#close-detail-trigger { 
    background-image: url("/static/img/cross.png"); 
    float: right;
}

#show-detail-trigger {
    background-image: url("/static/img/arrow.png");
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.trigger.current {
    /* XXX doesn't work in IE? */
    pointer-events: none;
    cursor: default;
}

/*
 * Triggers
 */

#loader-tab-parent {
    position: relative;
}
#loader-tab {
    background:url("/static/img/ajax-loader.gif") no-repeat center center;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
}


/*
 *
 * Dropdowns - Create post, Edit Image and Authenticate
 *
 */

.dropdown {
    position: fixed;
    background-color: rgba(83, 83, 83, 0.95);
    color: rgb(230, 214, 189);
    z-index: 1;
    left: 0;
    top: 2em;
    width: 100%;
    height: 100%;
}

.dropdown .content {
    float: right;
    width: 36ex; 
    height: 100%;
    padding: 3ex;
    padding-top: 0;
    margin: auto;
}

.dropdown .info {
    padding-left: 2ex;
    min-height: 1.5em;
    font-style: italic;
}


#create .content {
    width: 23ex; 
    text-align: right;
}

#create h2 {
    text-align: left;
}

#authenticate .content {
    width: 80%; 
}
/*
#editUserPix .content {
    position: relative;
    width: 800px;
    float: left;
}

#editUserPix #parentTarget {
    background: white;
    float: left;
}

#editUserPix #parentPreview {
    background: white;
    float: left;
    clear: right;
}

#editUserPix #form-controls {
    background-color: white;
    float: left;
    text-align: right;
}

#editUserPix input[type="submit"] {
    float: right;
}

#editUserPix #close-detail-trigger {
    position: absolute;
    right: 0px;
    top: 0px;
}
*/

/*
 *
 * Misc
 *
 */

.invisible {
    visibility: hidden;
}

/* XXX delete me */

.hidden {
    display: none;
}



/*
 * Forms
 *
 */

form .info {
    font-style: italic;
}

input.unvalidated {
    background-color: #FAAAAA;
    font-weight: bold;
}

input.validated {
    background-color: #adffbb;
}

label {
    /* width: 20ex;*/
}

input[type="text"],input[type="password"] {
    width: 20ex;
}

/*
 * Edit Profile
 */

#editProfile label {
    display: block;
}

#editProfile input[type="text"], 
#editProfile input[type="password"] {
    margin-left: 4ex;
    width: 30ex;
}

#editProfile .info.unvalidated {
    color: green;
}

#editProfile .info.validated {
    color: green;
}

/*
 * Posts
 *
 */

.entity {
    position: relative;
    padding: 1ex;
}

.entity .content {
}

.entity .timestamp {
    float: right;
    font-style: italic;
    font-size: 80%;
}

.entity.current {
}
