body {
    font-size: 120%;
}

.hidden {
    display: none;
}

.info {
    font-style: italic;
}

input.unvalidated {
    background-color: #FAAAAA;
}

input.validated {
    background-color: #adffbb;
}
