body {
    font-size: 120%;
}

.hidden {
    display: none;
}

label .info {
    text-style: italics;
}

input.unvalidated {
    background-color: #FAAAAA;
}

input.validated {
    background-color: #adffbb;
}