<form>
    <fieldset>
        <label>Email or Username:
            <input type="text" name="email_or_username" />
        </label>
        <br />
        <label>Password:
            <input type="password" name="password" />
        </label>
        <br />
        <input type="submit" value="Login" />
    </fieldset>
    <div>or <a class="trigger" href="#">Sign Up Now!</a></div>
</form>
