
<div>{{name}} <span class="username">@{{username}}</span></div>

{{#editProfile}}
  <div><a href="#" id="editProfile-trigger" class="trigger">Edit your profile</a></div>
{{/editProfile}}

<div>
  <img class="profile invisible" width="128" height="128" 
    data-id="{{id}}" alt="{{name}}" title="{{name}}" />
</div>

{{#showFollow}}
<div>
  {{#doesNotFollow}}
    <a href="#" class="trigger-icon follow-trigger" title="Follow" 
      data-id="{{id}}" />
  {{/doesNotFollow}}
  {{#doesFollow}}
    <a href="#" class="trigger-icon unfollow-trigger" title="Unfollow"
      data-id="{{id}}" />
  {{/doesFollow}}
</div>
{{/showFollow}}

<ul>
  {{#showFeed}}
  <li><a href="#" id="feed-trigger" class="trigger">Feed</a></li>
  {{/showFeed}}

  {{#stats}}
    <li><a href="#" id="posts-trigger" class="trigger"><span id="stats-posts{{DISABLE}}">{{posts}}</span> Posts</a></li>
    <li><a href="#" id="followers-trigger" class="trigger"><span id="stats-posts{{DISABLE}}">{{followers}}</span> Followers</a></li>
    <li><a href="#" id="following-trigger" class="trigger">Following <span id="stats-following{{DISABLE}}">{{following}}</span></a></li>
  {{/stats}}

</ul>
