body {
    font-size: 120%;
}

.hidden {
    display: none;
}

form .info {
    font-style: italic;
}

input.unvalidated {
    background-color: #FAAAAA;
}

input.validated {
    background-color: #adffbb;
}

.post .content {
}

.post .info {
    font-style: italic;
    font-size: 80%;
}
