/*
 * Overall Structure
 *
 */

html {
    overflow-y: scroll; /* always display scrollbar to avoid relayouts */
}

body {
    font-size: 120%;
    margin: 0;
    padding: 0;
    border: 0;
}

#dashboard {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    color: white;
    z-index: 1;
    /*border-bottom: 1px solid white;*/
}

#root-pane {
    position: fixed;
    top: 2em;
    left: 0;
    width: 14%;
    background-color: red;
}

#content-pane {
    padding-top: 2em;
    float: right;
    width: 86%;
    background-color: green;
}

#content {
    background-color: grey;
    float: left;
    width: 55%;
    min-height: 200px;
}

#detail {
    background-color: purple;
    float: right;
    width: 45%;
}


/*
 * Dashboard
 *
 */

#dashboard .branding {
    float: left;
}

#dashboard .controls {
    float: right;
}

/*
 *
 */
.trigger.current {
    color: black;
    /* XXX doesn't work in IE? */
    pointer-events: none;
    cursor: default;
}

/*XXX*/
.centered {
    display: block;
    margin: auto;
}

#loader-tab-parent {
    position: relative;
}
#loader-tab {
    background:url("/static/img/ajax-loader.gif") no-repeat center center;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
}


/*
 *
 * Create post
 *
 */


#create .info {
    font-style: italic;
}

#create .info.validated {
    color: #adffbb;
}

#create .info.unvalidated {
    color: #FAAAAA;
}

/*
 *
 * Misc
 *
 */

/* XXX delete me */
.hidden {
    display: none;
}


/*
 * Forms
 *
 */

form .info {
    font-style: italic;
}

input.unvalidated {
    background-color: #FAAAAA;
}

input.validated {
    background-color: #adffbb;
}


/*
 * Posts
 *
 */

.post {
    position: relative;
}

.post .content {
    word-wrap: break-word;
}

.post .info {
    font-style: italic;
    font-size: 80%;
}

.post.current {
    background-color: yellow;
}

.post.current img {
}

#show-detail-trigger {
    position: absolute;
    width: 100px;
    bottom: 0;
    right: 0;
    background-color: blue;
}
