/*
 * Overall Structure
 *
 */

html {
    overflow-y: scroll; /* always display scrollbar to avoid relayouts */
}

body {
    font-size: 120%;
    margin: 0;
    padding: 0;
    border: 0;
}

textarea,input,select {
    font: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

#dashboard {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em; /* affects create */
    color: white;
    z-index: 1;
    min-height: 32px; /* XXX vert align pic */
    /*border-bottom: 1px solid white;*/
}

#root-pane {
    position: fixed;
    top: 2em;
    left: 0;
    width: 25%;
    min-width: 128px;
    background-color: red;
}

#full-content-pane {
    padding-top: 2em;
    background-color: green;
}

#content-pane {
    padding-top: 2em;
    float: right;
    width: 75%;
    background-color: green;
}

#content {
    float: left;
    width: 55%;
    min-height: 200px;
    word-wrap: break-word;
    background-color: grey;
}

#detail {
    float: right;
    width: 45%;
    word-wrap: break-word;
    background-color: purple;
}


/*
 * Dashboard
 *
 */

#dashboard .branding {
    float: left;
}

#dashboard .controls {
    float: right;
}

/*
 * 
 */

.current {
    background-color: yellow;
}

.username {
    font-style: italic;
    font-size: 80%;
}

a > .username {
    font-size: 100%;
}

/*
 * Triggers
 */

.trigger-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 0px 0px;
}

.trigger-icon:hover {
    background-position: 0px -32px;
}

#create-submit-trigger { background-image: url("/static/img/check.png"); }
#create-cancel-trigger { background-image: url("/static/img/stop.png"); }
#create-trigger { background-image: url("/static/img/notepencil.png"); }
#zoom-trigger { background-image: url("/static/img/slide.png"); }
#follow-trigger { background-image: url("/static/img/exchange.png"); }
#unfollow-trigger { background-image: url("/static/img/block.png"); }

#close-detail-trigger { 
    background-image: url("/static/img/cross.png"); 
    float: right;
}

#show-detail-trigger {
    background-image: url("/static/img/arrow.png");
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: blue;
    cursor: pointer;
}

.trigger.current {
    /* XXX doesn't work in IE? */
    pointer-events: none;
    cursor: default;
}

/*
 * Triggers
 */
#loader-tab-parent {
    position: relative;
}
#loader-tab {
    background:url("/static/img/ajax-loader.gif") no-repeat center center;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
}


/*
 *
 * Create post
 *
 */

#create {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    left: 0;
    top: 2em;
    width: 100%;
    height: 100%;
}

#create h2 {
    color: white;
    text-align: left;
}

#create .content {
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
    width: 36ex; 
    height: 100%;
    padding: 3ex;
    padding-top: 0;
    margin: auto;
    text-align: right;
}

#create .info {
    min-height: 1.5em;
    font-style: italic;
}

#create .info.validated {
    color: #adffbb;
}

#create .info.unvalidated {
    color: #FAAAAA;
}

/*
 *
 * Misc
 *
 */

.invisible {
    visibility: hidden;
}

/* XXX delete me */
.centered {
    display: block;
    margin: auto;
}
.hidden {
    display: none;
}



/*
 * Forms
 *
 */

form .info {
    font-style: italic;
}

input.unvalidated {
    background-color: #FAAAAA;
}

input.validated {
    background-color: #adffbb;
}


/*
 * Posts
 *
 */

.entity {
    position: relative;
}

.entity .content {
}

.entity .timestamp {
    float: right;
    background: blue;
    font-style: italic;
    font-size: 80%;
}

.entity.current {
}

.entity.current img {
    visibility: hidden;
}
