/*
 * Overall Structure
 *
 */

html {
    overflow-y: scroll; /* always display scrollbar to avoid relayouts */
}

body {
    font-size: 120%;
    margin: 0;
    padding: 0;
    border: 0;
}

textarea,input,select {
    font: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

#dashboard {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em; /* affects create */
    color: white;
    z-index: 1;
    min-height: 32px; /* XXX vert align pic */
    /*border-bottom: 1px solid white;*/
}

#root-pane {
    position: fixed;
    top: 2em;
    left: 0;
    width: 25%;
    min-width: 128px;
    background-color: red;
}

#content-pane {
    padding-top: 2em;
    float: right;
    width: 75%;
    background-color: green;
}

#content {
    float: left;
    width: 75%;
    min-height: 200px;
    word-wrap: break-word;
    background-color: grey;
}

#detail {
    float: right;
    width: 25%;
    word-wrap: break-word;
    background-color: purple;
}


/*
 * Dashboard
 *
 */

#dashboard .branding {
    float: left;
}

#dashboard .controls {
    float: right;
}

/*
 *
 */
.trigger.current {
    color: black;
    /* XXX doesn't work in IE? */
    pointer-events: none;
    cursor: default;
}

/*XXX*/
.centered {
    display: block;
    margin: auto;
}

#loader-tab-parent {
    position: relative;
}
#loader-tab {
    background:url("/static/img/ajax-loader.gif") no-repeat center center;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
}


/*
 *
 * Create post
 *
 */

#create {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    left: 0;
    top: 2em;
    width: 100%;
    height: 100%;
}

#create .content {
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
    width: 36ex; 
    height: 100%;
    padding: 3ex;
    margin: auto;
    text-align: right;
}

#create .info {
    min-height: 1.5em;
    font-style: italic;
}

#create .info.validated {
    color: #adffbb;
}

#create .info.unvalidated {
    color: #FAAAAA;
}

/*
 *
 * Misc
 *
 */

/* XXX delete me */
.hidden {
    display: none;
}


/*
 * Forms
 *
 */

form .info {
    font-style: italic;
}

input.unvalidated {
    background-color: #FAAAAA;
}

input.validated {
    background-color: #adffbb;
}


/*
 * Posts
 *
 */

.post {
    position: relative;
}

.post .content {
}

.post .info {
    font-style: italic;
    font-size: 80%;
}

.post.current {
    background-color: yellow;
}

.post.current img {
}

#show-detail-trigger {
    position: absolute;
    width: 100px;
    bottom: 0;
    right: 0;
    background-color: blue;
}
