<html>

<head>
</head>


<body>
	<form id="imgUploadForm" method="POST" enctype="multipart/form-data" action="/imageupload/insert"  >
		<p>
			Please specify a file to upload:<br>
			<input type="file" name="uploadedFile"
				id="uploadedFile" size="40">
		</p>
           user <input type="text" id="user" name="user"/>

			<input type="submit" value="Send">

	</form>
</body>

</html>